* {
	margin: 0;
	padding: 0;
}

#diceRoller,
#interactiveMap,
#mapEditor {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: 1;
}

#tutorialMessageBox {
	z-index: 10;
	position: fixed;
}

.newMapWindow,
.loadMapWindow {
	display: flex;
	flex-direction: column;
}
