* {
	margin: 0;
	padding: 0;
}

#diceRoller,
#interactiveMap,
#mapEditor {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
}

.newMapWindow,
.loadMapWindow {
	display: flex;
	flex-direction: column;
}
